@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'), url('./fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff'), url('./fonts/opensanslight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url('opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff'), url('../fonts/opensans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('./fonts/opensanssemibold.woff2') format('woff2'), url('../fonts/opensanssemibold.woff') format('woff'), url('./fonts/opensanssemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('./fonts/opensansextrabold.woff2') format('woff2'), url('../fonts/opensansextrabold.woff') format('woff'), url('./fonts/opensansextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
	margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.3em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #1c1c1c;
  background: #fff;
}
.body {
  overflow: hidden;
}

p, h1, h2,h3, ul {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #1c1c1c;
}
img {
  display: block;
  width: 100%;
}
.container {
  position: relative;
  padding: 0 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.btn-1 {
  padding: 16px 54px;
  font-size: 20px;
  line-height: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #1c1c1c;
  border:1px solid #ffa500;
  background: linear-gradient(-45deg, #ffa500, #ff9900);
  outline: 1px solid;
  outline-color: rgba(28, 28, 28, 0);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  outline-color: rgba(255, 165, 0, 0.5);
  outline-offset: 0px;
  box-shadow: inset 0 0 20px rgba(255, 233, 193, 0);
  cursor: pointer;
}
.btn-1:hover {
  border: 1px solid #ffa500;
  box-shadow: inset 0 0 20px rgba(255, 233, 193, 0.5), 0 0 20px rgba(255, 233, 193, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 165, 0, 0);
  text-shadow: 1px 1px 2px #ffe9c1;
}
/* .btn-1:active, .btn-1:focus {
  box-shadow: 0 1px 2px 0 rgba(28, 28, 28, .1);
  outline: none;
} */
.btn-2 {
  padding: 16px 54px;
  font-size: 20px;
  line-height: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #fff;
  border:1px solid #1c1c1c;
  background: linear-gradient(-45deg, #343434, #202020);
  outline: 1px solid;
  outline-color: rgba(28, 28, 28, 0);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  outline-color: rgba(28, 28, 28, 0.5);
  outline-offset: 0px;
  box-shadow: inset 0 0 20px rgba(146, 88, 0, 0);
  cursor: pointer;
}
.btn-2:hover {
  border: 1px solid #1c1c1c;
  box-shadow: inset 0 0 20px rgba(146, 88, 0, 0.5), 0 0 20px rgba(146, 88, 0, 0.2);
  outline-offset: 15px;
  outline-color: rgba(28, 28, 28, 0);
  /* text-shadow: 1px 1px 2px #8d8d8d; */
}
/* .btn-2:active, .btn-2:focus {
  box-shadow: 0 1px 2px 0 rgba(28, 28, 28, .1);
  outline: none;
} */
.btn-3 {
  padding: 16px 54px;
  font-size: 20px;
  line-height: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #1c1c1c;
  border:1px solid #1c1c1c;
  background: transparent;
  outline: 1px solid;
  outline-color: rgba(28, 28, 28, 0);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  outline-color: rgba(28, 28, 28, 0.5);
  outline-offset: 0px;
  box-shadow: inset 0 0 20px rgba(146, 88, 0, 0);
  cursor: pointer;
}
.btn-3:hover {
  border: 1px solid #1c1c1c;
  /* box-shadow: inset 0 0 20px rgba(146, 88, 0, 0.5), 0 0 20px rgba(146, 88, 0, 0.2); */
  outline-offset: 15px;
  outline-color: rgba(28, 28, 28, 0);
  /* text-shadow: 1px 1px 2px #8d8d8d; */
}
button:disabled {
  opacity: .4;
}
.btn-1:disabled:hover,
.btn-2:disabled:hover {
  opacity: .4;
}

.grow {
  flex-grow: 1;
}

.main {
  padding-bottom: 70px;
}
.main__top-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.main__top-navbar > div {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}
.main__nav {
  display: flex;
}
.main__nav ul {
  display: flex;
  margin-left: -18px;
  list-style: none;
}
.main__nav a {
  position: relative;
  bottom: 0;
  padding: 8px 18px;
  font-size: 14px;
  line-height: 1.4em;
  text-transform: uppercase;
}
.main__nav a:hover {
  bottom: 4px;
  color: #37b5ff;
  text-shadow: 0 4px 4px rgba(28,28,28,.16);
  transition: all .3s ease;
}
.sub-menu {
  position: relative;
}
.sub-menu > a {
  position: relative;
  padding-right: 30px;
  white-space: normal;
}
.sub-menu > a::after {
  content: '▼';
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 12px;
  transition: transform .3s ease;
}
.sub-menu ul {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  padding: 4px;
  flex-direction: column;
  background-color: #fff;  
  box-shadow: 4px 4px 10px 0 rgba(28,28,28,.2);  
  opacity: 0;
  transform: scale(0);
  transition: opacity .3s ease, transform .3s ease;
  z-index: 4;
}
.sub-menu ul li {
  border-bottom: 1px solid #ffe9c1;
}
.sub-menu ul li:last-child {
  border: none;
}
.sub-menu ul a {
  display: block;
}
.sub-menu.active > a {
  color: #ffa500;
}
.sub-menu.active > a::after {
  transform: rotate(180deg);
}
.sub-menu.active ul {
  opacity: 1;
  transform: scale(1);
}
.nav__phone {
  display: flex;
  align-items: center;
}
.nav__phone > div{
  display: flex;
  align-items: center;
}
.link__phone {
  margin-right: 20px;
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 500;
  transition: color .3s ease;
}
.link__phone span {
  font-weight: 700;
}
.link__phone:hover {
  color: #079ef7;
}
.link__social {
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 0;
  line-height: 0;
  color: transparent;
  box-shadow: 0 0 0 0 rgba(28,28,28,.16);
  transition: transform .3s ease, box-shadow .3s ease;
}
.link__social:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 4px 0 rgba(28,28,28,.16);
}
.link--wh-upp {
  background: url(../images/icons/whatsapp.svg) no-repeat center;
  background-size: 100%;
}
.link--viber {
  background: url(../images/icons/viber.svg) no-repeat center;
  background-size: 100%;
}
.link--inst {
  background: url(../images/icons/instagram.svg) no-repeat center;
  background-size: 100%;
}

.nav__logo {
  display: block;
  margin-right: 50px;
  font-size: 24px;
  line-height: 22px;
  font-weight: 800;
  color: #37b5ff;
}

.mn__scroll {
  margin: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 7px 20px 0 rgba(0,0,0,.2);
  padding: 14px 0;
  background: rgba(28,28,28,.8);
  z-index: 20;
}
.mn__scroll > div {
  margin-top: 0;
}
.mn__scroll ul {
  max-width: 1100px;
}
.mn__scroll .main__nav a {
  font-size: 12px;
  color: #fff;
}
.mn__scroll .sub-menu ul a {
  font-size: 11px;
  color: #1c1c1c;
}
.mn__scroll .link__phone {
  font-size: 14px;
  color: #fff;
}
.mn__scroll .link__phone:hover {
  color: #079ef7;
}
.mn__scroll .link__social {
  width: 24px;
  height: 24px;
}
.mn__scroll .nav__logo {
  font-size: 18px;
}
.main__contact {
  text-align: right;
}
.main__phone a {
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 500;
  transition: color .3s ease;
}
.main__phone a span {
  font-weight: 700;
}
.main__phone a:hover {
  color: #0184d1;
}

.main__content {
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
  align-items: center;
}
.main__text {
  width: 50%;
}
.main__logo {
  display: inline-block;
  height: 60px;
  width: 180px;
  background: url(../images/logo.png) no-repeat center;
  background-size: 100%;
}
.main__border {
  position: relative;
  padding-top: 70px;
  padding-left: 60px;
  padding-bottom: 70px;
  padding-right: 40px;
  color: #fff;
}
.main__caption-under {
  margin-bottom: -10px;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 400;
}
.main__caption {
  font-size: 65px;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}
.main__caption-above {
  margin-top: 10px;
  margin-left: -60px;
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 300;
}
.main__caption-above strong {
  font-weight: 600;
}
.main__btn {
  display: flex;
  margin-left: -64px;
  margin-right: -74px;
  margin-top: 50px;
  text-align: center;
}
.main__btn > button {
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 4px;
}

.advantage {
  padding-top: 100px;
  padding-bottom: 100px;
}
.main__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main__block {
  display: flex;
  margin-bottom: 40px;
  width: calc(50% - 25px);
}
.main__block__img {
  display: flex;
  margin-right: 10px;
  height: 90px;
  width: 90px;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  background-color: #8dd5ff;
  z-index: -1;
}
.main__block__img > img {
  width: 70px;
}
.main__block__header {
  position: relative;
  padding-bottom: 2px;
}
.main__number {
  font-size: 27px;
  line-height: 20px;
  font-weight: 700;
  color: #37b5ff;
}
.main__caption-h2 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.main_block__p {
  padding-left: 20px;
  font-size: 18px;
  line-height: 1.4em;
}



.main__text {
  position: relative;
  width: 50%;
  z-index: 2;
}
.main__text::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -10%;
  width: 2000px;
  background: linear-gradient(-145deg, #37b5ff 0%, #079ef7 50%, #0184d1 100%);
  box-shadow: 10px 10px 40px 0 rgba(28,28,28,.2);
}

.bcg-zigzag--white {
  position: absolute;
  width: 150px;
  height: 60px;
  background: url(../images/zig-zag-white.png) repeat-y center;
  background-size: 100%;
  z-index: 2;
}
.bcg-zigzag--orange {
  position: absolute;
  width: 150px;
  height: 60px;
  background: url(../images/zig-zag-orange.png) repeat-y center;
  background-size: 100%;
  z-index: 2;
}

.main__bcg-1 {
  top: 20%;
  right: 64%;
}
.main__bcg-2 {
  bottom: 10px;
  right: 10%;
}

.btn-menu {
  display: none;
}
.main__nav__close {
  display: none;
}

.main__img {
  position: relative;
  margin-right: -100px;
  margin-left: -100px;
  width: calc(50% + 200px);
  z-index: 1;
}

/* .nav__logo,
.nav__phone {
  display: none;
} */
@media (max-width: 1140px) {
  .main__top-navbar > div {
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
  }
}

@media (max-width: 992px) {
  .nav__logo > a {
    display: inline-block;
    height: 30px;
    width: 100px;
    background: url(../images/logo-white.png) no-repeat center;
    background-size: 100%;
  }
  .nav__phone > a {
    padding: 0;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 300;
  }
  .main__nav > nav {
    width: 100%;
    overflow: auto;
  }
  .nav__phone > a > span {
    font-weight: 500;
  }
  .main__nav.open {
    transform: translateX(0);
  }
  .main__nav {
    display: flex;
    padding: 40px 80px 40px 50px;
    margin: 0;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    width: 280px;
    background: #1c1c1c;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
    transform: translateX(2000px);
    transition: all .6s ease;
    z-index: 5;
  }
  .main__top-navbar > div {
    margin-top: 30px;
  }
  .mn__scroll {
    position: absolute;
  }
  .mn__scroll .main__nav a {
    font-size: 14px;
  }

  .main__nav__close {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: red;
    z-index: 2;
  }
  .main__nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .main__nav li {
    border-bottom: 1px solid #343434;
  }
  .main__nav a {
    display: block;
    color: #fff;
  }
  .sub-menu > a::after {
    display: none;
  }
  .sub-menu ul {
    position: static;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 18px;
    padding-right: 0;
    color: #fff;
    background-color: transparent;
    width: auto;
    box-shadow: none;
    opacity: 1;
    transform: scale(1);
  }
  .sub-menu ul li {
    padding-left: 20px;
    background-color: #343434;
    border-color: #1c1c1c;
  }
  .mn__scroll .sub-menu ul a {
    font-size: 14px;
    color: #fff;
  }
  .btn-menu {
    display: flex;
    position: fixed;
    top: 85px;
    right: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #1c1c1c;
    border: none;
    box-shadow: 0 20px 40px 0 rgba(2,6,5,.1);
    z-index: 20;
    transition: all .3s ease;
    cursor: pointer;
  }
  .btn-menu span {
    margin: 2px 0;
    width: 20px;
    height: 2px;
    background: #fff;
    transition: all .3s ease;
  }
  .btn-menu.active span:nth-child(1) {
      transform: rotate(45deg) translate(4px, 4px);
  }
  .btn-menu.active span:nth-child(2) {
      opacity: 0;
  }
  .btn-menu.active span:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -4px);
  }
  .btn-menu:active,
  .btn-menu:focus {
      outline: none;
      transition: all.3s ease;
  }

  .main__text {
    width: 55%;
  }
  .main__img {
    width: calc(45% + 200px);
  }
  .main__img::before {
    left: 20%;
    right: -20px;
    width: auto;
    transform: translateX(0);
  }
  .main__img__turbo {
    margin-left: -10%;
    width: 150%;
  }
  .main__border::after {
    right: -20%;
  }
  .main__img__label {
    right: 0;
    width: 70%;
  }

  .main__btn {
    flex-direction: column;
    align-items: flex-start;
  }
  .main__btn > button {
    margin-bottom: 7px;
  }
}


@media (max-width: 768px) {
  .main__nav {
    left: 0;
    width: auto;
  }
  .main__content {
    position: relative;
    flex-direction: column-reverse;
  }
  .main__text {
    width: 100%;
  }
  .main__text::before {
    left: -20px;
    right: -20px;
    width: auto;
    opacity: .7;
  }
  .main__border {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0;
  }
  .main__border::after {
    display: none;
  }
  .main__logo {
    height: 50px;
    width: 140px;
  }
  .main__caption {
    font-size: 54px;
  }
  .main__caption-above {
    margin-top: 10px;
    margin-left: 0;
  }
  .main__btn {
    text-align: left;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }
  .main__img {
    position: absolute;
    top: 100px;
    right: 0;
    height: calc(100% - 100px);
    margin-right: -20%;
    margin-left: 0;
    width: 80%;
  }
  .main__img img {
    height: 100%;
    width: auto;
  }
}

@media (max-width: 576px) {
  .btn-1,
  .btn-2,
  .btn-3 {
    font-size: 16px;
  }
  .main {
    padding-bottom: 70px;
  }
  .main__nav {
    padding: 40px 60px 40px 20px;
    left: 0;
    width: auto;
  }
  .main__logo {
    width: 120px;
    height: 40px;
  }
  .main__border {
    padding-right: 0;
  }
  .main__caption-under {
    margin-bottom: -4px;
    font-size: 18px;
  }
  .main__caption {
    font-size: 30px;
  }
  .main__caption-above {
    margin-top: 10px;
    font-size: 16px;
  }
  .main__btn {
    min-height: 120px;
  }
  .main__block {
    margin-bottom: 50px;
    width: 100%;
  }
  .nav__logo {
    font-size: 18px;
  }
  .main__top-navbar > div {
    margin-top: 20px;
  }
  .nav__phone {
    flex-direction: column;
    align-items: flex-end;
  }
  .nav__phone > a {
    font-size: 14px;
    margin-right: 0;
  }
  .btn-menu {
    top: 110px;
  }
  .advantage {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}


.caption__h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}
.caption__h2 h2 {
  font-size: 32px;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}
.caption__h2 span {
  position: absolute;
  top: -86px;
  left: -40px;
  font-size: 70px;
  line-height: 1.2em;
  font-weight: 700;
  white-space: nowrap;
  color: #f0f9ff;
  text-transform: uppercase;
  z-index: -1;
}
.caption__h3 {
  margin-bottom: 20px;
  font-size: 27px;
  line-height: 1.2em;
  font-weight: 600;
}
.text__p {
  margin-bottom: 14px;
  text-indent: 34px;
}
.bcg-circle {
  position: absolute;
  width: 146px;
  height: 146px;
  background: url(../images/bcg-1.png) no-repeat center;
  background-size: 100%;
  transform: rotate(45deg);
  z-index: -1;
}
.bcg__name {
  position: absolute;
  font-size: 70px;
  line-height: 1.2em;
  font-weight: 600;
  color: #1c1c1c;
  text-shadow: 6px 15px 10px rgba(2,6,5,.1);
}

@media (max-width: 576px) {
  .caption__h2 h2 {
    font-size: 24px;
  }
  .caption__h2 span {
    top: -56px;
    font-size: 50px;
  }
  .bcg-line {
    width: 90px;
  }
  .caption__h3 {
    font-size: 20px;
  }
  .link__phone {
    margin-bottom: 7px;
  }
}


.about {
  padding-top: 70px;
  padding-bottom: 70px;
}
.about__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__text {
  width: 50%;
}
.about__img {
  display: flex;
  justify-content: center;
  width: 50%;
}
.about__img img {
  max-width: 320px;
}
.about__bcg-1 {
  top: -60px;
  right: -10%;
}


@media (max-width: 768px) {
  .about__content {
    flex-wrap: wrap;
  }
  .about__text {
    margin-bottom: 40px;
    width: 100%;
  }
  .about__img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}



.item {
  padding-top: 70px;
  padding-bottom: 70px;
}
.item__bcg--green {
  padding-top: 90px;
  color: #fff;
  background: linear-gradient(-135deg, #0184d1, #079ef7);
}
.item .caption__h2 {
  z-index: 1;
}
.item .caption__h2 span {
  opacity: .2;
}
.item--right .caption__h2 {
  margin-left: 50%;
}
.item__caption {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 78px;
  font-size: 45px;
  line-height: 1.2em;
  font-weight: 600;
  text-align: center;
  max-width: 80%;
}
.item__body {
  display: flex;
  padding-bottom: 40px;
}
.item__img {
  padding-right: 40px;
  padding-top: 100px;
  width: calc(50% - 40px);
}
.item__bcg--list {
  bottom: -140px;
  left: -240px;
}
.item__img__shadow {
  position: relative;
  margin-top: -10px;
  margin-bottom: -120px;
  box-shadow: 0 0 87px 0 rgba(28,28,28,.46);
}
.item__bcg-1 {
  bottom: 40px; 
  left: -30px;
  z-index: 2;
}
.item__bcg-2 {
  top: -100px; 
  right: 20px;
  z-index: 0;
}
.item--right .item__bcg-1 {
  bottom: 40px;
  left: auto;
  right: -30px;
  z-index: 2;
}
.item--right .item__bcg-2 {
  top: -100px; 
  left: 20px;
  right: auto;
  z-index: 0;
}
.item__img__mask {
  position: relative;
  border-radius: inherit;
  overflow: hidden;
  z-index: 1;
}
.item__text {
  width: 50%;
}
.text__p-2 {
  margin-bottom: 28px;
  line-height: 1.4em;
}
.text__ul-2 {  
  list-style: none;
}
.text__ul-2 li {
  position: relative;
  margin-bottom: 28px;
  text-indent: 10px;
  line-height: 1.4em;
}
.text__ul-2 li::after {
  content: '';
  position: absolute;
  top: 12px;
  left: -5px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #1c1c1c;
}
.item__text .text__ul-2 li::after {
  background-color: #fff;
}
.item__btn {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
}
@media (max-width: 768px) {
  .item__bcg--green {
    padding-bottom: 60px;
  }
  .item__caption {
    margin-bottom: 48px;
    font-size: 32px;
  }
  .item--right .caption__h2 {
    margin-left: 0; 
  }
  .item__body {
    padding-bottom: 0;
    flex-direction: column-reverse;
  }
  .item--right .item__body {
    flex-direction: column;
  }
  .item__img {
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 60%;
  }
  .item__img__shadow {
    margin-bottom: 0;
  }
  .item__bcg-1,
  .item--right .item__bcg-1 {
    bottom: -20px;
  }
  .item__bcg-2 {
    top: -10px;
    right: -120px;
  }
  .item--right .item__bcg-2 {
    top: -10px;
    left: -120px;
  }
  .item__bcg--list {
    bottom: -60px;
    left: -120px;
    width: 200px;
    height: 170px;
  }
  .item__text {
    width: 100%;
  }
  .item__btn {
    padding-bottom: 0;
  }
}
@media (max-width: 576px) {
  .item {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .item__caption {
    max-width: none;
    font-size: 27px;
  }
  .item__img {
    padding-right: 0;
    max-width: 320px;
    width: 100%;
  }
  .item__btn {
    padding-top: 20px;
  }
}


.reviews {
  padding-top: 70px;
  padding-bottom: 70px;
}
.reviews__body {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}
.reviews__block {
  margin-left: 10px;
  margin-right: 10px;
  width: 33.33%;
  box-shadow: 0 0 114px 0 rgba(163,163,163,.26);
}
.reviews__block > div {
  position: relative;
  padding: 45px 20px 40px 20px;
  height: calc(100% - 80px);
  background-color: #fff;
  border-radius: inherit;
  overflow: hidden;
}
.reviews__block > div::after {
  content: '';
  position: absolute;
  top: -15px;
  left: 38px;
  width: 48px;
  height: 50px;
  background: url(../images/bcg-quotes.png) no-repeat center;
  background-size: 100%;
  z-index: 0;
}
.reviews__block > div::before {
  content: '';
  position: absolute;
  bottom: -17px;
  right: 24px;
  width: 48px;
  height: 50px;
  background: url(../images/bcg-quotes.png) no-repeat center;
  background-size: 100%;
  z-index: 0;
}
.reviews__block__caption {
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.2em;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
.reviews__block__caption::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 50px);
  width: 100px;
  height: 1px;
  background-color: #1c1c1c;
}
.reviews__block__text {
  margin-top: 22px;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
}
@media (max-width: 992px) {
  .reviews__body {
    align-items: center;
    flex-direction: column;
  }
  .reviews__block {
    margin-bottom: 40px;
    width: 70%;
  }
}
@media (max-width: 768px) {
  .reviews__body {
    margin-left: 0;
    margin-right: 0;
  }
  .reviews__block {
    margin-bottom: 20px;
    width: 100%;
  }
}


.contacts {
  margin-bottom: 90px;
}
.contact__bcg-1 {
  bottom: -20px;
  right: 50%;
}
.contact__bcg-2 {
  top: -20px;
  left: -14%;
}
.contacts__content {
  display: flex;
  align-items: center;
}

.contacts__text {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: -50px;
  width: calc(50% + 120px);
  background-color: #f0f9ff;
}

.contacts__text::after {
  content: '';
  position: absolute;
  top: 0;
  left: -2000px;
  right: 50%;
  bottom: 0;
  background-color: #f0f9ff;
  z-index: -1;
}

.contacts__address {
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 300;
}

.contacts__phone {
  margin: 50px 0;
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 300;
}
.contacts__phone a {
  transition: color .3s ease;
}
.contacts__phone a:hover {
  color: #079ef7;
}
.contacts__phone > div {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-end;
}

.contacts__bold {
  font-weight: 400;
}

.contacts__small {
  margin-left: 7px;
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 1.2em;
}

.contacts__send {
  display: flex;
  align-items: flex-end;
}

.contacts__mail {
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 400;
}
.contacts__mail a {
  transition: color .3s ease;
}
.contacts__mail a:hover {
  color: #079ef7
}

.contacts__social {
  display: flex;
  margin-left: 90px;
}

.contacts__form {
  padding: 50px 40px;
  width: 50%;
  background-color: #079ef7;
  box-shadow: 0 0 87px 0 rgba(28,28,28,.46)
}
.contacts__form .input:active,
.contacts__form .input:focus {
  outline: none;
  color: #fff;
  border-bottom: 2px solid #fff;
  font-weight: 400;
}

@media (max-width: 992px) {
  .contacts__text {
    margin-right: -40px;
    width: 50%;
  }

  .form__contacts > div {
    align-items: flex-end;
    flex-direction: column;
  }

  .contacts__form {
    width: calc(50% + 40px);
  }

  .form__contacts label {
    margin-top: 20px;
    width: calc(80% - 20px);
  }
}

@media (max-width: 768px) {
  .contacts__content {
    flex-wrap: wrap;
  }
  .contacts__text {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 100%;
  }
  .contacts__phone {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 40px;
  }
  .contacts__send {
    padding-left: 40px;
  }
  .contacts__form {
    width: 100%;
  }
  .contacts__text::after {
    display: none;
  }
  .form__contacts > div {
    align-items: center;
  }
  .form__contacts .btn-2 {
    margin-right: auto;
  }
}

@media (max-width: 576px) {
  .contacts {
    margin-bottom: 70px;
  }
  .contacts__phone {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .contacts__send {
    padding-left: 20px;
  }
  .contacts__phone .nav__phone {
    flex-direction: row;
  }
}


.input {
  display: block;
  padding: 6px 0 6px 0;
  width: 100%;
  font-size: 20px;
  line-height: 1.2em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid #1c1c1c;
  background: transparent;
  transition: all .3s ease;
}

.input::placeholder {
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 400;
  font-family: "Open Sans" sans-serif;
  color: #1c1c1c;
}

.input:active,
.input:focus {
  outline: none;
  color: #079ef7;
  border-bottom: 2px solid #079ef7;
  font-weight: 400;
}

label {
  width: 100%;
}

.input.required {
  border-color: #f12424;
}


    .form__contacts > div {
      display: flex;
      justify-content: space-between;
    }

    .form__contacts label {
      width: calc(50% - 20px);
    }

    .form__contacts .label-check {
      margin-top: 20px;
      margin-left: auto;
    }
    .form__label {
      padding-top: 10px;
      font-size: 12px;
      line-height: 1.2em;
    }

    .form__contacts .btn-2 {
      display: block;
      margin-top: 30px;
      margin-left: auto;
    }

    .footer {
      padding: 40px 0;
      color: #fff;
      background: linear-gradient(135deg, #079ef7, #0184d1);
    }
    .footer .container {
      display: flex;
      justify-content: center;
    }
    .footer__p {
      font-size: 16px;
      line-height: 1.2em;
      font-weight: 300;
      align-items: center;
    }

    @media (max-width: 992px) {
      .form__contacts > div {
        align-items: center;
      }

      .form__contacts .label-check {
        margin-right: auto;
      }

      .form__contacts .btn-2 {
        margin-right: auto;
      }
    }

    @media (max-width: 768px) {
      .footer {
        padding: 30px 0;
      }

      .footer__p {
        font-size: 16px;
      }
    }


    .modal {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 60px;
      padding-bottom: 60px;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, .5);
      z-index: 25;
      display: none;
      transition: all .3s ease;
      overflow: auto;
    }

    .modal.active {
      display: flex;
    }

    .modal__more.active {
      display: block;
    }

    .modal > div {
      background: #fff;
      box-shadow: 0 10px 60px 0 rgba(0, 0, 0, .4);
      animation: modalopen .3s ease;
      animation-fill-mode: forwards;
    }

    .modal__more.active > div {
      margin-left: auto;
      margin-right: auto;
    }

    @keyframes modalopen {
        from {
          transform: scale(0);
        }

        to {
          transform: scale(1);
        }
    }

    .label-check {
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.2em;
      cursor: pointer;
      text-align: left;
    }

    .label-check input {
      display: none;
    }

    .label-check input::placeholder {
      font-size: 16px;
      line-height: 20px;
      font-family: "Proxima Nova Cond", sans-serif;
      color: #000;
    }

    .label-check span {
      position: relative;
      display: inline-block;
      margin-right: 10px;
      width: 24px;
      height: 24px;
      min-width: 24px;
      border-radius: 3px;
      border: 1px solid #1c1c1c;
      background-color: #fff;
    }

    .label-check span::after {
      content: '';
      position: absolute;
      top: 11px;
      left: 3px;
      width: 18px;
      height: 2px;
      background-color: #000;
      transform: rotate(45deg);
      opacity: 0;
    }

    .label-check span::before {
      content: '';
      position: absolute;
      top: 11px;
      left: 3px;
      width: 18px;
      height: 2px;
      background-color: #000;
      transform: rotate(-45deg);
      opacity: 0;
    }

    .label-check input:checked ~ span::after {
      opacity: 1;
    }

    .label-check input:checked ~ span::before {
      opacity: 1;
    }

    .input__check.required ~ span {
      border-color: #f12424;
    }

    @media (max-width: 576px) {
      .form__contacts label {
        width: 100%;
        max-width: 300px;
      }
    }

    .modal__call__content {
      position: relative;
      width: 420px;
    }

    .modal__more__content {
      width: 900px;
    }

    @media (max-width: 992px) {
      .modal__more__content {
        width: calc(100% - 40px);
      }
    }

    @media (max-width: 576px) {
      .modal__call__content {
        width: calc(100% - 40px);
      }
    }

    .modal__header {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      background-color: #373737;
    }

    .modal__header::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #dddddd;
    }

    .modal__caption {
      font-size: 24px;
      line-height: 1.2em;
      color: #fff;
      font-weight: 500;
    }

    .btn-close {
      position: relative;
      width: 24px;
      height: 24px;
      border: none;
      border-radius: 0;
      cursor: pointer;
      background: transparent;
    }

    .btn-close::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .btn-close span {
      position: absolute;
      top: 10px;
      left: 3px;
      width: 16px;
      height: 2px;
      background-color: #fff;
      transition: all .3s ease;
    }

    .btn-close span:nth-child(1) {
      transform: rotate(45deg);
    }

    .btn-close span:nth-child(2) {
      transform: rotate(-45deg);
    }

    .btn-close:hover span:nth-child(1) {
      transform: rotate(-45deg);
    }

    .btn-close:hover span:nth-child(2) {
      transform: rotate(-135deg);
    }

    .modal__body {
      padding: 30px 20px 50px 20px;
    }

    .modal__body form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .form.load::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url(../images/loading.gif) no-repeat center;
      background-size: 100px;
      z-index: 1;
    }

    .form button {
      margin-top: 40px;
    }

    .alert {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      padding: 20px 20px 20px 20px;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      line-height: 1.4em;
      color: #241a11;
      text-align: center;
      background-color: #fff;
      max-width: 300px;
      width: 300px;
      min-height: 120px;
      transform: translate(-50%, -50%);
      box-shadow: 0 10px 20px 0 rgba(0,0,0,.4);
      overflow: hidden;
      animation: alertopen .3s ease;
      animation-fill-mode: forwards;
      z-index: 1;
    }

    @keyframes alertopen {
        0% {
          transform: translate(-2000px, -50%);
        }

        50% {
          transform: translate(-40%, -50%);
        }

        60% {
          transform: translate(-60%, -50%);
        }

        70% {
          transform: translate(-43%, -50%);
        }

        80% {
          transform: translate(-56%, -50%);
        }

        90% {
          transform: translate(-46%, -50%);
        }

        100% {
          transform: translate(-50%, -50%);
        }
    }

    .alert-danger {
      color: #fff;
      background-color: #373737;
    }

    .alert-danger::before {
      content: 'error';
      position: absolute;
      top: 20px;
      left: -10px;
      font-size: 70px;
      font-weight: 800;
      color: #fff;
      opacity: .1;
    }

    .alert-success {
      color: #1c1c1c;
      background-color: #079ef7;
    }

    /* .alert-success::before {
      content: 'success';
      position: absolute;
      top: 20px;
      left: -10px;
      font-size: 70px;
      font-weight: 800;
      color: #fff;
      opacity: .1;
    } */

    .alert-close {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }



    .form__call {
      margin-left: auto;
      margin-right: auto;
      max-width: 280px;
    }

    .form__call label {
      margin-bottom: 10px;
    }

    .p-model {
      margin-bottom: 20px;
    }

    .presentation {
      position: relative;
      padding-bottom: 100px;
    }

    .presentation__content {
      display: flex;
      justify-content: center;
    }

    .review__video-block {
      position: relative;
      height: 0;
      margin-bottom: 30px;
      width: 100%;
      max-width: 650px;
      height: 380px;
      border-radius: 4px;
      background-color: #1c1c1c;
    }

    .review__video-block:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: transparent;
      display: block;
      background-color: rgba(0, 0, 0, .4);
      z-index: 5;
    }

    .review__video-block.play:before {
      display: none;
    }

    .video-block__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .video-block__play {
      max-width: 120px;
      max-height: 120px;
      width: 100%;
      height: 100%;
      border: none;
      background-color: transparent;
      background-image: url(https://erweb.ru/wp-content/uploads/2017/09/youtube-play.png);
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 10;
      transition: all .3s ease;
      cursor: pointer;
    }

    .video-block__play:hover {
      -webkit-transform: translate(-50%, -50%) scale(1.2);
      transform: translate(-50%, -50%) scale(1.2);
    }

    .hidden {
      display: none;
    }

    @media (max-width: 576px) {
      .presentation {
        padding-bottom: 60px;
      }

      .review__video-block {
        height: 280px;
      }
    }

    .modal__more__body .advantages__more {
        display: none;
    }

    .modal__more__body .comparison__p {
        max-height: none;
    }

        .modal__more__body .comparison__p::after {
            display: none;
        }

    .modal__more__body .comparison__img {
        margin-left: auto;
        margin-right: auto;
    }

    .modal__more__body .caption__h4 {
        text-align: center;
    }


    .slider-block__navigation {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        z-index: 2;
    }

        .slider-block__navigation .owl-prev.disabled,
        .slider-block__navigation .owl-next.disabled {
            opacity: .2;
        }

        .slider-block__navigation .owl-prev,
        .slider-block__navigation .owl-next {
            position: relative;
            margin: 0 10px;
            width: 30px;
            height: 30px;
            background: transparent;
            border: none;
        }

            .slider-block__navigation .owl-prev span,
            .slider-block__navigation .owl-next span {
                opacity: 0;
            }

            .slider-block__navigation .owl-prev::after,
            .slider-block__navigation .owl-next::after {
                content: '';
                position: absolute;
                top: 6px;
                bottom: 0;
                width: 14px;
                height: 14px;
                border-top: 2px solid #000;
                border-left: 2px solid #000;
            }

            .slider-block__navigation .owl-prev::after {
                left: 12px;
                transform: rotate(-45deg);
            }

            .slider-block__navigation .owl-next::after {
                right: 12px;
                transform: rotate(135deg);
            }

    .navigation_1 {
        display: none;
    }

    @media (max-width: 992px) {
        .navigation_1 {
            display: flex;
        }
    }

.text__label {
  font-weight: 600;
}

.address__map {
  width: 100%;
  height: 450px;
  background: #8d8d8d;
}

