body{
	margin: 0; padding: 0; font-family: arial, sans-serif;
}
img{
    border: none;
}
.karkas{
	position: relative;
	margin: 0 auto; padding: 0; background: #fff;
	max-width: 1600px;
}

.karkas:after{
	content: '';
	position: absolute;
	top: 120px;
	left: 0;
	right: 0;
	border-bottom: 1px solid #8f8e91;
}

.content-list{
	max-width: 940px;
	min-width: 880px;
	margin: 0 auto;
	padding: 0 5px;
}

.header-pic{
	background-image: url(img/head.png); color: #fff; padding-bottom: 245px;
}

.top-menu{
	overflow: hidden; 
}
	.top-menu img{
		float: left; margin: 43px 0 40px 0; height: 36px;
	}
	.top-menu ul{
		overflow: hidden; margin-top: 42px;
	}
		.top-menu ul a li{
			list-style: none; float: right; margin-left: 28px; padding: 14px 0; text-decoration: none; color: #fff;
		}
		.top-menu ul a li:hover{
			color: #1dde85; border-bottom: 1px solid #1dde85;
		}
	.head-text{
		text-align: center;
	}
	.head-text h1{
		font-size: 48px; margin: 245px 0 48px 0;
	}
	.head-text span{
		color: #1dde85;
	}
	.head-text p{
		font-size: 18px; width: 914px; margin: 0 auto; line-height: 1.67;
	}

/*Заголовок*/
.caption{
	text-align: center;	margin-top: 120px;
}
	.caption h2{
		font-size: 30px; color: #454546; margin-bottom: 50px;
	}
	.caption h2 span{
		color: #1dde85;
	}
	.caption p{
		font-size: 18px; color: #8f8e91; line-height: 1.67;   margin-bottom: 75px;
	}

/*Welcom*/

.pros{
	overflow: hidden;
}
	.pros-block-main{
		width: 33.33%; float: left;
	}

		.pros-block{
			border: 1px solid #8f8e91; text-align: center; margin: 1px 2.5% 1px 2.5%; padding: 30px 12px 10px 12px; font-size: 14px;  line-height: 2.14;
		}
			.pros-block h3{
				color: #454546;
			}
			.pros-block p{
				color: #8f8e91;
			}
			.pros-block:hover{
				border: 2px solid #1dde85;  margin: 0 2.5% 0 2.5%; padding: 30px 11px 10px 11px;

			}
				.pros-block:hover h3{
					color: #1dde85;
				}
				.pros-block:hover p{
					color: #454546;
				}
			.pros-block-main:first-child .pros-block:hover{
				border: 2px solid #1dde85;  margin: 0 5% 0 0;  padding: 30px 11px 10px 11px;
			}
			.pros-block-main:last-child .pros-block:hover{
				border: 2px solid #1dde85;  margin: 0 0 0 5%;  padding: 30px 11px 10px 11px;
			}
		.pros-block-main:first-child .pros-block{
			margin: 1px 5% 1px 0;
		}
		.pros-block-main:last-child .pros-block{
			margin: 1px 0 1px 5%;
		}
 .pros{
	margin-bottom: 45px;
}

/*Meet Us*/

.people{
	overflow: hidden;
	padding: 18px 0;
}

	.people-block-main{
		width: 22%; float: left; padding: 0 2% 0 2%;
	}
	.people-block-main:first-child{
		padding: 0 2% 0 0; 
	}
	.people-block-main:last-child{
		padding: 0 0 0 2%; 
	}
		.people-block{
			position: relative;
		}
			.people-block h3{
				padding: 14px 0  4px 0; margin: 0;
				font-size: 18px;
				line-height: 20px;
			}
			.people-block p{
				padding: 0 0 14px 0; margin: 0;
				font-size: 14px;
				line-height: 17px;
			}
			.people-block img{
				width: 100%;
			}
		.people-name{
			position: absolute;
			bottom: 0; left: 0; right: 0;
			text-align: center;
			background: rgba(69,69,70,0.94);
			color: #fffcf4;
		}
		.people-bcgr{
			display: none;
		}

		/*зеленое окно*/
		.people-block:hover .people-bcgr{
			display: block;
			position: absolute;
			left: -15px; right: -15px; top: -18px; bottom: -18px;
			padding-top: 60%;
			background: rgba(29, 222, 133, 0.9);
			text-align: center;
			color: #fffcf4;
		}
		.people-block:hover .people-name{
			display: none;
		}
		.people-seti{
			position: relative;
			padding-top: 30px;
		}
		.people-seti:after{
			content: '';
			position: absolute;
			top: 30px; left: 0; right: 0;
			height: 1px;
			background: #8fe5bd;
		}
		.people-seti:before{
			content: '';
			position: absolute;
			bottom: 0; left: 0; right: 0;
			height: 1px;
			background: #8fe5bd;
		}
		.people-seti img{
			width: 24px;
			padding: 10px 5px 7px 5px;
		}


/*Our Latest Works*/

.works-menu{
	overflow: hidden;
	display: block;
	margin: 0 auto;
	width: 590px;
	padding-bottom: 48px;
}
	.works-menu ul a li{
		list-style: none; float: left; margin: 0 18px; padding: 7px 0; text-decoration: none; color: #434243;
		border-bottom: 1px solid transparent;
	}
	.works-menu a:hover li{
		color: #1dde85; border-bottom: 1px solid #1dde85;
	}
		.works-menu .active li{
			color:#1dde85; border-bottom: 1px solid #1dde85;
		}


	.works-img-row{
		overflow: hidden;
		padding-bottom: 52px;
	}
		.works-img img{
			width: 33.33%; float: left;
		}

/*кнопка*/
	.btn{
		display: inline-block;
		vertical-align: top;
		padding: 20px 58px;
		font-size: 18px;
		text-decoration: none;
		text-align: center;
		color: #fffcf4;
		background: #1dde85;
		border: none;
		cursor: pointer;
	}
		.btn:hover,
		.btn:active{
			background: #38ad76;
		}
		.btn:disabled {
			cursor: default;
			opacity: .5;
		}
			.btn:disabled:hover{
				background: #ccc;
			}


	.works .btn{
		display: block;
		width: 80px;
		margin: 0 auto;
	}


/*Our Pricing Plans*/

.plans{
	overflow: hidden;
}
.plans-block-main{
	float: left;
	width: 25%;
}
	.plans-block-main h3{
		text-align: center;
		color: #8f8e91;
		font-size: 14px;
		padding-bottom: 20px;
	}
	.plans-block{
		display: block;
		width: 92%;
		margin: 0 auto;
		padding-bottom: 30px;
		border: 1px solid transparent;
	}
	.plans-block-price{
		position: relative;
		margin: 0 auto;
		border: 1px solid #8f8e91;
		padding: 20px 0;
	}
	.plans-block-price p{
		text-align: center;
		color: #8f8e91;
		padding: 0;
		margin: 0;
	}
	.plans-block-price p span{
		font-size: 26px;
		font-weight: 700;
		color: #454546;
	}
	.doll{
		position: absolute;
		top: 10px;
		left: 32%;
		font-size: 21px;
	}
	.plans-block-main:nth-child(5) .doll{
		position: absolute;
		left: 29%;
	}
	p.doll{
		color: #454546;
	}
	.plans-block ul{
		padding: 26px 0 45px 0;
		margin: 0;
	}
	.plans-block ul li{
		list-style: none;
		text-align: center;
		font-size: 16px;
		line-height: 40px;
		color: #8f8e91;
	}
	.plans-block .btn{
		display: block;
		width: 100px;
		margin: 0 auto;
		padding: 20px 30px;
		background: transparent;
		color: #454546;
		border: 1px solid #454546;
	}
		.plans-block-main:hover .plans-block{
			border: 1px solid #1dde85;
		}
		.plans-block-main:hover h3{
			color: #1dde85
		}
		.plans-block-main:hover p{
			color: #fff;
		}
		.plans-block-main:hover span{
			color: #fff;
		}
		.plans-block-main:hover .plans-block-price{
			background: #1dde85;
			border: 1px solid #1dde85;
		}
		.plans-block-main:hover .btn{
			background: #1dde85;
			color: #fff;
			border: 1px solid #1dde85;
		}


/*Say Hi*/
.say{
	background: url(img/background-iphone.png) center no-repeat;
}
.say .caption h2{
	color: #fff;
	padding: 40px 0 25px 0;
	margin: 0;
}
form.say-form{
	overflow: hidden;
	display: block;
	width: 92%;
	margin: 0 auto;
}
.say-form input, textarea{
	background: transparent;
	border: 1px solid #fff;
	width: 48%;
	float: left;
	margin: 10px 1%; 
	padding: 12px;
	color: #fff;
}
textarea{
	resize: none;
	width: 98%;
	height: 150px;
	vertical-align: top;
	margin-bottom: 30px;
	font-family: arial, sans-serif;
	font-size: 14px;
}
.say-form .btn{
	display: block;
	width: 250px;
	margin: 0 auto;
	margin-bottom: 40px;
}


/*footer*/

.footer{
	overflow: hidden;
	background: #0b0a0a;
	padding: 40px 0;
}
	.footer-block{
		overflow: hidden;
		float: left;
		width: 33.33%;
		color: #454546;
	}
		.footer-block h3{
			clear: both;
			padding: 10px 0;
			margin: 0;
			color: #fff;
		}
		.footer-block p{
			font-size: 14px;
			line-height: 30px;
			font-weight: 100;
			width: 70%;
		}

		.footer-block ul{
			float: left;
			padding: 0;
			margin: 0;
			padding-right: 30px;
		}
		.footer-block li{
			list-style: none;

		}
			.footer-block li a{
				text-decoration: none;
				color: #454546;
				font-size: 14px;
				line-height: 32px;
				font-weight: 100;
			}
			.footer-block li a:hover{
				color: #fff;
			}

		.footer-block input{
			width: 65%;
			background: transparent;
			border: 1px solid #454546;
			padding: 12px;
			color: #fff;
			margin-bottom: 15px;
		}

		.btn-facebook, .btn-twetter, .btn-google, .btn-in{
			display: block;
			float: left;
			width: 40px;
			height: 40px;
			border: 2px solid #454546;
			margin-right: 10px;
		}
		.btn-facebook:hover, .btn-twetter:hover, .btn-google:hover, .btn-in:hover{
			border: 2px solid #fff;
			cursor: pointer;
		}
		.btn-facebook{
			background: url(img/facebook-footer.png) center center no-repeat;
		}
		.btn-twetter{
			background: url(img/twetter-footer.png) center center no-repeat;
		}
		.btn-google{
			background: url(img/google+-footer.png) center center no-repeat;
		}
		.btn-in{
			background: url(img/linkedin-footer.png) center center no-repeat;
		}

		.footer-block .btn{
			display: block;
			padding: 10px;
			width: 150px;
		}