body{
	margin: 0; padding: 0; font-family: arial, sans-serif;
}
img{
    border: none;
}
.karkas{
	margin: 0; padding: 0; background: #fff;
}
.header-pic{
	background-image: url(img/head.png); color: #fff; padding-bottom: 245px;
}
.top-menu-main{
	border-bottom: 1px solid #8f8e91;
}
.top-menu{
	overflow: hidden; 
}
	.top-menu img{
		float: left; margin: 43px 0 40px 0; height: 36px;
	}
	.top-menu ul{
		overflow: hidden; margin-top: 42px;
	}
		.top-menu ul a li{
			list-style: none; float: right; margin-left: 28px; padding: 14px 0; text-decoration: none; color: #fff;
		}
		.top-menu ul a li:hover{
			color: #1dde85; border-bottom: 1px solid #1dde85;
		}
	.head-text{
		text-align: center;
	}
	.head-text h1{
		font-size: 48px; margin: 245px 0 48px 0;
	}
	.head-text span{
		color: #1dde85;
	}
	.head-text p{
		font-size: 18px; width: 914px; margin: 0 auto; line-height: 1.67;
	}

/*Заголовок*/
.caption{
	text-align: center;	margin-top: 120px;
}
	.caption h2{
		font-size: 30px; color: #454546; margin-bottom: 50px;
	}
	.caption h2 span{
		color: #1dde85;
	}
	.caption p{
		font-size: 18px; color: #8f8e91; line-height: 1.67;   margin-bottom: 75px;
	}

/*Welcom*/

.pros{
	overflow: hidden;
}
	.pros-block-main{
		width: 33.33%; float: left;
	}

		.pros-block{
			border: 1px solid #8f8e91; text-align: center; margin: 1px 2.5% 1px 2.5%; padding: 30px 12px 10px 12px; font-size: 14px;  line-height: 2.14;
		}
			.pros-block h3{
				color: #454546;
			}
			.pros-block p{
				color: #8f8e91;
			}
			.pros-block:hover{
				border: 2px solid #1dde85;  margin: 0 2.5% 0 2.5%; padding: 30px 11px 10px 11px;

			}
				.pros-block:hover h3{
					color: #1dde85;
				}
				.pros-block:hover p{
					color: #454546;
				}
			.pros-block-main:first-child .pros-block:hover{
				border: 2px solid #1dde85;  margin: 0 5% 0 0;  padding: 30px 11px 10px 11px;
			}
			.pros-block-main:last-child .pros-block:hover{
				border: 2px solid #1dde85;  margin: 0 0 0 5%;  padding: 30px 11px 10px 11px;
			}
		.pros-block-main:first-child .pros-block{
			margin: 1px 5% 1px 0;
		}
		.pros-block-main:last-child .pros-block{
			margin: 1px 0 1px 5%;
		}
 .pros{
	margin-bottom: 45px;
}

/*Meet Us*/

.people{
	overflow: hidden;
	padding: 18px 0;
}

	.people-block-main{
		width: 22%; float: left; padding: 0 2% 0 2%;
	}
	.people-block-main:first-child{
		padding: 0 2% 0 0; 
	}
	.people-block-main:last-child{
		padding: 0 0 0 2%; 
	}
		.people-block{
			position: relative;
		}
			.people-block h3{
				padding: 14px 0  4px 0; margin: 0;
				font-size: 18px;
				line-height: 20px;
			}
			.people-block p{
				padding: 0 0 14px 0; margin: 0;
				font-size: 14px;
				line-height: 17px;
			}
			.people-block img{
				width: 100%;
			}
		.people-name{
			position: absolute;
			bottom: 0; left: 0; right: 0;
			text-align: center;
			background: rgba(69,69,70,0.94);
			color: #fffcf4;
		}
		.people-bcgr{
			display: none;
		}

		/*зеленое окно*/
		.people-block:hover .people-bcgr{
			display: block;
			position: absolute;
			left: -15px; right: -15px; top: -18px; bottom: -18px;
			padding-top: 60%;
			background: rgba(29, 222, 133, 0.9);
			text-align: center;
			color: #fffcf4;
		}
		.people-block:hover .people-name{
			display: none;
		}
		.people-seti{
			position: relative;
			padding-top: 80px;
		}
		.people-seti:after{
			content: '';
			position: absolute;
			top: 80px; left: 0; right: 0;
			height: 1px;
			background: #8fe5bd;
		}
		.people-seti:before{
			content: '';
			position: absolute;
			bottom: 0; left: 0; right: 0;
			height: 1px;
			background: #8fe5bd;
		}
		.people-seti img{
			width: 24px;
			padding: 10px 5px 7px 5px;
		}


/*Our Latest Works*/

.works-menu{
	overflow: hidden;
	display: block;
	margin: 0 auto;
	width: 590px;
	padding-bottom: 48px;
}
	.works-menu ul a li{
		list-style: none; float: left; margin: 0 18px; padding: 7px 0; text-decoration: none; color: #434243;
		border-bottom: 1px solid transparent;
	}
	.works-menu a:hover li{
		color: #1dde85; border-bottom: 1px solid #1dde85;
	}
		.works-menu .active li{
			color:#1dde85; border-bottom: 1px solid #1dde85;
		}


	.works-img-row{
		overflow: hidden;
		padding-bottom: 52px;
	}
		.works-img img{
			width: 33.33%; float: left;
		}

/*кнопка*/
	.btn{
		display: inline-block;
		vertical-align: top;
		padding: 20px 58px;
		font-size: 18px;
		text-decoration: none;
		text-align: center;
		color: #fffcf4;
		background: #1dde85;
		border: none;
		cursor: pointer;
	}
		.btn:hover,
		.btn:active{
			background: #38ad76;
		}
		.btn:disabled {
			cursor: default;
			opacity: .5;
		}
			.btn:disabled:hover{
				background: #ccc;
			}


	.works .btn{
		display: block;
		width: 80px;
		margin: 0 auto;
	}