@font-face {
    font-family: 'Ekaterina';
    src: url('../fonts/EkaterinaVelikayaOne.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Heavy.eot');
    src: local('Futura PT Heavy'), local('FuturaPT-Heavy'),
        url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Heavy.woff') format('woff'),
        url('../fonts/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
        url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Light.eot');
    src: local('Futura PT Light'), local('FuturaPT-Light'),
        url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Light.woff') format('woff'),
        url('../fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold.eot');
    src: local('Futura PT Bold'), local('FuturaPT-Bold'),
        url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-ExtraBold.eot');
    src: local('Futura PT Extra Bold'), local('FuturaPT-ExtraBold'),
        url('../fonts/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-ExtraBold.woff') format('woff'),
        url('../fonts/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

html {
    overflow-x: hidden;
}
body {
	margin: 0;
  	padding: 0;
  	font-size: 20px;
  	line-height: 1.2em;
  	font-family: "Futura PT", sans-serif;
  	font-weight: 300;
  	color: #1c1c1c;
    background: #fff;
    overflow-x: hidden;
}

p, h1, h2,h3, ul {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #1c1c1c;
}
img {
    display: block;
    width: 100%;
}
.container {
    position: relative;
    padding: 0 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.btn-1 {
    padding: 12px 0;
    font-size: 16px;
    line-height: 1.5em;
    width: 240px;
    font-family: "Futura PT", sans-serif;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 4px;
    background: linear-gradient(-45deg, #1c1c1c, #292929);
    transition: all .3s ease;
    box-shadow: 0 10px 12px 0 rgba(28, 28, 28, .3);
    cursor: pointer;
}
.btn-1:hover {
    box-shadow: 0 2px 6px 0 rgba(28, 28, 28, .5);
}
.btn-1:active, .btn-1:focus {
    box-shadow: 0 0 0 0 rgba(28, 28, 28, .5);
    outline: none;
}
.btn-2 {
    padding: 12px 0;
    font-size: 16px;
    line-height: 1.5em;
    width: 240px;
    font-family: "Futura PT", sans-serif;
    font-weight: 500;
    color: #1c1c1c;
    border: none;
    border-radius: 4px;
    background: linear-gradient(-45deg, #f1f1f1, #fff);
    transition: all .3s ease;
    box-shadow: 0 10px 12px 0 rgba(255, 255, 255, .2);
    cursor: pointer;
}
.btn-2:hover {
    box-shadow: 0 2px 6px 0 rgba(255, 255, 255, .5);
}
.btn-2:active, .btn-2:focus {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .5);
    outline: none;
}

.input {
    display: block;
    padding: 14px 10px 11px 10px;
    margin-top: 10px;
    width: calc(100% - 22px);
    font-size: 16px;
    line-height: 1.2em;
    font-family: "Futura PT", sans-serif;
    font-weight: 300;
    border-radius: 4px;
    border: 1px solid #1c1c1c;
    background: transparent;
}
.input::placeholder {
    font-size: 16px;
    line-height: 1.2em;
    font-family: "Futura PT" sans-serif;
    color: #a2a9b4;
}
.input:active,
.input:focus {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(28,28,28,.3);
    font-weight: 300;
}

.btn-menu {
    display: flex;
    position: fixed;
    top: 25px;
    right: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #1c1c1c;
    border: none;
    border-radius: 4px;
    box-shadow: 4px 7px 10px 0 rgba(0,0,0,.1);
    z-index: 21;
    transition: all .6s ease;
    cursor: pointer;
}
.btn-menu span {
    margin: 2px 0;
    width: 20px;
    height: 2px;
    background: #fff;
    transition: all .3s ease;
}
.btn-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(4px, 4px);
}
.btn-menu.active span:nth-child(2) {
    opacity: 0;
}
.btn-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
}
.btn-menu:active,
.btn-menu:focus {
    outline: none;
    transition: all.3s ease;
}
.btn-menu:hover {
    box-shadow: 4px 7px 10px 0 rgba(0,0,0,.2);
}

.main {
    position: relative;
    min-height: 100vh;
    background: url(../img/main-bcg.jpg) no-repeat center;
    background-size: cover;
}
.main .container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 540px;
}
.main__parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mp__bcg-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/main-bcg-1.png) no-repeat center;
    background-size: 100%;
}
.mp__bcg-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/main-bcg-2.png) no-repeat center;
    background-size: 70%;
}
.main__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    flex-grow: 1;
    text-align: center;
}
.main__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 180px;
    height: 100px;
    background: url(../img/logo.png) no-repeat center;
    background-size: auto 100%;
}
.main__caption {
    font-size: 72px;
    line-height: 1.4em;
    font-weight: 500;
    text-shadow: 4px 10px 10px rgba(0,0,0,.2);
}
.main__caption-unde {
    font-size: 27px;
    line-height: 1.4em;
    font-weight: 500;
    margin-bottom: 80px;
    text-shadow: 4px 10px 10px rgba(0,0,0,.2);
}
.main__caption-unde span {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}
.main__caption-unde span::after {
    content: '/';
    position: absolute;
    top: 1px;
    right: -35px;
}
.main__caption-unde span:last-child:after {
    display: none;
}

.main__footer {
    display: flex;
    padding-bottom: 40px;
    align-items: flex-end;
    justify-content: space-between;
}
.main__address {
    padding: 16px 30px;
    font-size: 21px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 4px 7px 10px 0 rgba(0,0,0,.2);
}

.main__contact {
    padding: 16px 30px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 4px 7px 10px 0 rgba(0,0,0,.2);
}
.main__contact-phone {
    display: block;
}
.main__social {
    position: relative;
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}
.main__social-icon {
    position: relative;
    margin: 0 12px;
    bottom: 0;
    width: 24px;
    height: 24px;
    transition: all .3s ease;
}
.main__social-icon:hover {
    bottom: 6px;
}
.ms__vk {
    background: url(../img/vk.svg) no-repeat center;
    background-size: cover;
}
.ms__inst {
    background: url(../img/instagram.svg) no-repeat center;
    background-size: 80%;
}
.ms__face {
    background: url(../img/facebook.svg) no-repeat center;
    background-size: 90%;
}

@media (max-width: 992px) {
    .main__logo {
        margin-bottom: 20px;
        width: 140px;
        height: 80px;
    }
    .main__caption {
        font-size: 52px;
    }
    .main__caption-unde {
        margin-bottom: 60px;
        font-size: 24px;
    }
    .main__address {
        font-size: 18px;
    }
    .main__contact  {

    }
}

@media (max-width: 768px) {
    .main {
        background: url(../img/main-bcg.jpg) no-repeat center;
        background-size: auto 150%;
    }
    .main .container {
        padding-bottom: 30px;
        height: auto;
    }
    .main__caption-unde {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 21px;
    }
    .main__footer {
        padding: 20px;
        margin-top: 40px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 4px 7px 10px 0 rgba(0,0,0,.2);
    }
    .main__address,
    .main__contact {
        padding: 0;
        max-width: 50%;
        background: transparent;
        box-shadow: none;
    }
    
}

@media (max-width: 576px) {
    .main__caption {
        line-height: 1.1em;
    }
    .main__caption-unde {
        margin-top: 10px;
        font-size: 18px;
    }
    .main__footer {
        flex-wrap: wrap;
    }
    .main__address,
    .main__contact {
        width: 100%;
        max-width: 100%;
    }
    .main__address {
        margin-bottom: 10px;
    }
    .main__social {
        justify-content: flex-start;
    }
}

.discount-1 {
    position: relative;
    background: #f7f7f7;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .2);
}
.discount-1__mask {
    overflow: hidden;
}
.discount-1 .container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 110px;
}
.discount-1__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.discount-1__caption {
    width: 50%;
}
.discount-1__text {
    padding: 30px 40px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 20px 10px 25px 0 rgba(28,28,28,.1);
}
.label__p {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2em;
    font-weight: 300;
}
.text__alltt {
    font-weight: 500;
}
.discount-1__bcg-1 {
    position: absolute;
    bottom: -100px;
    left: -60px;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: #fff;
    z-index: 0;
}
.discount-1__bcg-2 {
    top: -50px;
    right: -10px;
}
.discount-1__bcg-3 {
    bottom: 0;
    left: -10px;
}
.bcg-line {
    position: absolute;
    width: 1px;
    height: 100px;
    transform: rotate(45deg);
    background-color: #a2a9b4;
}
.discount-1__text input {
    max-width: 320px;
}
.discount-1__text button {
    margin-top: 30px;
    width: 342px;
}
.text__p {
    margin-bottom: 10px;
}
@media (max-width: 992px) {
    .label__p {
        font-size: 28px;
    }
}
@media (max-width: 768px) {
    .discount-1 .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .discount-1__content {
        flex-direction: column;
        align-items: flex-start;
    }
    .discount-1__text {
        padding: 30px 20px;
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: center;
        width: calc(100% - 40px);
    }
    .discount-1__text input {
        margin-left: auto;
        margin-right: auto;
    }
    .label__p {
        font-size: 21px;
    }
    .discount-1__caption {
        width: 100%;
    }
    .discount-1__bcg-1 {
        left: -20px;
        height: 420px;
        width: 420px;
    }
}

@media (max-width: 576px) {
    .discount-1__bcg-1 {
        bottom: -90px;
        left: -20px;
        height: 300px;
        width: 300px;
    }
    .discount-1__text button {
        width: 100%;
    }
}

.caption__h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
    font-size: 32px;
    line-height: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
}
.caption__h2 span {
    font-weight: 600;
}

.advantages .container {
    padding-top: 100px;
    padding-bottom: 110px;
}
.advantages__content {
    display: flex;
    align-items: center;
}
.advantages .caption__h2 {
    margin-left: calc(30% + 40px);
}
.advantages__img {
    width: 30%;
}
.advantages__img img:nth-child(1) {
    width: 70%;
    box-shadow: 20px 10px 25px 0 rgba(28,28,28,.1);
}
.advantages__img img:nth-child(2) {
    position: relative;
    margin-top: -40px;
    margin-left: auto;
    width: 70%;
    z-index: -1;
}
.advantages__text {
    margin-left: 40px;
    width: calc(70% - 40px);
}
.advantages__block {
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
    color: #1c1c1c;
}
.advantages__block::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    width: 20px;
    height: 20px;
    background: url(../img/verified.svg) no-repeat center;
    background-size: 100%;
}

@media (max-width: 992px) {
    .advantages .container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (max-width: 768px) {
    .caption__h2 {
        margin-bottom: 36px;
        font-size: 28px;
    }
    .advantages .container {
        padding-top: 80px;
    }
    .advantages__content {
        flex-direction: column;
    }
    .advantages .caption__h2 {
        display: block;
        margin-left: auto;
        text-align: center;
    }
    .advantages__img {
        display: none;
    }
    .advantages__text {
        margin-left: 0;
        width: 100%;
    }
    .advantages__block {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .caption__h2 {
        margin-bottom: 28px;
        font-size: 25px;
    }
    .advantages .container {
        padding-bottom: 40px;
    }
}

.caption__h3 {
    margin-bottom: 20px;
    font-weight: 500;
}
.text__ul {
    list-style: none;
}
.text__ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
}
.text__ul li::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 8px;
    height: 8px;
    background: #1c1c1c;
}
.text__ul-2 {
    list-style: none;
}
.text__ul-2 li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
    color: #a2a9b4;
}
.text__ul-2 li::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    width: 20px;
    height: 20px;
    background: url(../img/verified.svg) no-repeat center;
    background-size: 100%;
}
.text__ul-2__caption {
    display: inline-block;
    padding-bottom: 4px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
}


.services .container {
    padding-top: 100px;
    padding-bottom: 50px;
}
.services__blocks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 600px;
}
.services__col-1,
.services__col-2 {
    width: 50%;
}
.services__col-2 {
    display: flex;
}
.services__row-1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50%;
}
.services__row-2 {
    display: flex;
    justify-content: flex-end;
    height: 50%;
}
.services__item {
    position: relative;
    margin: 15px;
    border-radius: 4px;
}
.services__item > div {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    border-radius: inherit;
    transition: all .3s ease;
}
.services__item > div:hover {
    transform: translateY(-7px);
    box-shadow: 4px 7px 10px 0 rgba(0,0,0,.1);
}
.services__item > div:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    height: 100%;
    background: linear-gradient(170deg, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 50%, rgba(255,255,255,0) 100%);
    z-index: 0;
}
.services__item > div:hover:after {
    height: 100%;
    border-radius: inherit;
    background: rgba(28, 28, 28, .8);
}
.services__item-p {
    position: relative;
    margin-top: 20px;
    margin-left: 18px;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 500;
    color: #1c1c1c;
    z-index: 1;
}
.services__item > div:hover .services__item-p {
    color: #fff;
}
.n-item-1 {
    width: 40%;
    height: 40%;
}
.n-item-1 > div {
    background: url('../img/services-1.jpg') no-repeat center;
    background-size: cover;
}
.n-item-2 {
    width: 35%;
    height: 60%;
}
.n-item-2 > div {
    background: url('../img/services-2.jpg') no-repeat center;
    background-size: cover;
}
.n-item-3 {
    width: 35%;
    height: 60%;
}
.n-item-3 > div {
    background: url('../img/services-3.jpg') no-repeat center;
    background-size: cover;
}
.n-item-4 {
    width: 60%;
    height: 60%;
}
.n-item-4 > div {
    background: url('../img/services-4.jpg') no-repeat center;
    background-size: cover;
}
.n-item-5 {
    height: 30%;
}
.n-item-5 > div {
    background: url('../img/services-5.jpg') no-repeat center;
    background-size: cover;
}
.n-item-6 {
    flex-grow: 1;
}
.n-item-6 > div {
    background: url('../img/services-6.jpg') no-repeat center;
    background-size: cover;
}
.n-item-7 {
    height: 30%;
}
.n-item-7 > div {
    background: url('../img/services-7.jpg') no-repeat center;
    background-size: cover;
}
.n-item-8 {
    width: 60%;
    height: 30%;
}
.n-item-8 > div {
    background: url('../img/services-8.jpg') no-repeat center;
    background-size: cover;
}
.services__col-3 {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.services__col-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 60%;
}

@media (max-width: 992px) {
    .services__item {
        margin: 10px;
    }
    .services__col-3,
    .services__col-4 {
        width: 50%;
    }
    .n-item-8 {
        width: auto;
    }
}
@media (max-width: 768px) {
    .services .container {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .services__item {
        margin: 5px;
    }
    .services__item-p {
        margin-top: 10px;        
        margin-left: 10px;
        margin-right: 10px;
    }
    .services {
        flex-direction: column;
        justify-content: start;
    }
    .services__blocks {
        flex-wrap: wrap;
        height: auto;
    }
    .services__col-1,
    .services__col-2 {
        width: 100%;
    }
    .services__col-3,
    .services__col-4 {
        width: auto;
    }
    .services__row-1,
    .services__row-2 {
        height: auto;
    }
    .n-item-1,
    .n-item-2,
    .n-item-3,
    .n-item-4,
    .n-item-5,
    .n-item-6,
    .n-item-7,
    .n-item-8 {
        width: auto;
        height: auto;
    }
    .services__row-1,
    .services__row-2,
    .services__col-2 {
        display: block;
    }
    .services__item > div {
        padding: 20px 0;
        position: static;
    }
    .services__item-p {
        margin-top: 0px;
    }
    .services__item {
        margin: 0;
        margin-bottom: 10px;
    }
}

.consider .container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 110px;
}
.consider__content {
    position: relative;    
    margin: 0 auto;
    width: 90%;
    border-radius: 4px;
    box-shadow: 20px 10px 25px 0 rgba(28,28,28,.1);
}
.consider__content-mask {
    position: relative;
    padding: 50px 80px;
    width: calc(100% - 160px);
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
    background: #f7f7f7;
}
.consider__content-mask::before {
    content: '';
    position: absolute;
    bottom: -60px;
    right: 20px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #fff;
}
.consider__text {
    position: relative;
    width: 70%;
}
.consider__img {
    position: absolute;
    bottom: 0;
    right: -30px;
    width: 380px;
    z-index: 1;
}
.consider__bcg-1 {
    top: -10px;
    right: 2%;
}
.consider__bcg-2 {
    top: 180px;
    left: 0;
}
.consider__bcg-3 {
    bottom: -20px;
    left: 52%;
}

@media (max-width: 768px) {
    .consider .container {
        padding-top: 80px;
    }
    .consider__content {
        width: 100%;
    }
    .consider__content-mask {
        width: calc(100% - 60px);
        padding: 40px 30px;
    }
    .consider__img {
        width: 200px;
    }
    .consider__text {
        width: 75%;
    }
}

@media (max-width: 576px) {
    .consider__content-mask {
        padding-bottom: 200px;
        flex-wrap: wrap;
    }
    .consider__text {
        width: 100%;
    }
}

.label__text {
    position: relative;
    padding: 30px 40px;
    color: #fff;
    border-radius: 4px;
    box-shadow: 20px 10px 25px 0 rgba(28,28,28,.1);
    background-color: #1c1c1c;
}
.label__text-center {
    position: relative;
    margin: 0 auto;
    width: 70%;
}
.bcg__palm-1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background: url(../img/palm-1.png) no-repeat center;
    background-size: 100%;
}
.bcg__palm-2 {
    position: absolute;
    width: 200px;
    height: 200px;
    background: url(../img/palm-2.png) no-repeat center;
    background-size: 100%;
}
.label__text-center .bcg__palm-1 {
    bottom: -30px;
    left: -160px;
    transform: rotate(-205deg);
    z-index: -1;
}
.label__text-center .bcg__palm-2 {
    top: -10px;
    right: -170px;
    transform: rotate(45deg);
    z-index: -1;
}

@media (max-width: 768px) {
    .bcg__palm-1,
    .bcg__palm-2 {
        width: 100px;
        height: 100px;
    }
    .label__text-center .bcg__palm-1 {
        bottom: -62px;
        left: -70px;
    }
    .label__text-center .bcg__palm-2 {
        top: -70px;
        right: -70px;
    }
}

@media (max-width: 768px) {
    .label__text {
        padding: 20px 30px;
        width: auto;
    }
}


.master {
    padding-bottom: 100px;
}
.block_gallery {
    margin-top: 100px;
    overflow: hidden;
}
.block_gallery a:nth-child(1) {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(50% - 10px);
}
.block_gallery a:nth-child(2) {
    float: right;
    margin-bottom: 20px;
    width: calc(50% - 10px);
}
.block_gallery a:nth-child(3) {
    float: right;
    margin-bottom: 20px;
    width: calc(25% - 15px);
}
.block_gallery a:nth-child(4) {
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(25% - 15px);
}
.block_gallery a:nth-child(5) {
    float: right;
    width: calc(50% - 10px);
    clear: right;
}
.block_gallery a:nth-child(6) {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(25% - 15px);
}
.block_gallery a:nth-child(7) {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(25% - 15px);
}
.block_gallery a:nth-child(8) {
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(50% - 10px);
}
.block_gallery a {
    position: relative;
}
.block_gallery a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: linear-gradient(rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,0) 100%);
    z-index: 1;
    transition: all .3s ease;
}
.block_gallery a::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 14px;
    height: 14px;
    background: url(../img/zoom-out.svg) no-repeat center;
    background-size: 100%;
    z-index: 2;
    opacity: .4;
    transition: all .3s ease;
}
.block_gallery a:hover::before {
    height: 100%;
    background: rgba(255,255,255,.4);
}
.block_gallery a:hover::after {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) scale(1.8);
    opacity: .8;
}

@media (max-width: 576px) {
    .block_gallery {
        margin-top: 100px;
    }
    .gallery .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .block_gallery {
        display: flex;
        flex-wrap: wrap;
        overflow: visible;
    }
    .block_gallery a:nth-child(1) {
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }
    .block_gallery a:nth-child(2) {
        float: none;
        margin-bottom: 10px;
        width: 100%;
    }
    .block_gallery a:nth-child(3) {
        float: none;
        margin-bottom: 10px;
        width: calc(50% - 5px);
    }
    .block_gallery a:nth-child(4) {
        float: none;
        margin-right: 0;
        margin-left: 10px;
        margin-bottom: 10px;
        width: calc(50% - 5px);
    }
    .block_gallery a:nth-child(5) {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
    .block_gallery a:nth-child(6) {
        float: none;
        margin-bottom: 10px;
        margin-right: 10px;
        width: calc(50% - 5px);
    }
    .block_gallery a:nth-child(7) {
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
        width: calc(50% - 5px);
    }
    .block_gallery a:nth-child(8) {
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }
}


.discount-2 {
    position: relative;
    background: #f7f7f7;
}
.discount-2 .container {
    position: relative;
    padding-top: 140px;
    padding-bottom: 90px;
}
.discount-1__bcg-4 {
    top: -50px;
    right: -10px;
}
.discount-1__bcg-5 {
    bottom: -50px;
    left: -10px;
}
.discount-1__bcg-6 {
    position: absolute;
    top: -140px;
    left: 90px;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: #fff;
    z-index: 0;
}
.discount-1__label {
    position: absolute;
    top: -30px;
    left: 40px;
    padding: 30px 20px;
    width: 120px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    background-color: #1c1c1c;
    box-shadow: 20px 10px 25px 0 rgba(28,28,28,.1);
}
.discount-2__label-p {
    font-size: 22px;
    line-height: 1.4em;
    font-weight: 300;
    text-transform: uppercase;
}
.discount-2__label-h {
    font-size: 42px;
    line-height: 1.4em;
    font-weight: 800;
}
.discount-2__label-p2 {
    margin-top: -10px;
    font-size: 32px;
    line-height: 1em;
    font-weight: 400;
}
.discount-2__mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}

@media (max-width: 768px) {
    .discount-2 .container {
        padding-top: 130px;
        padding-bottom: 60px;
    }
    .discount-1__label {
        padding: 20px 20px;
        width: 80px;
    }
    .discount-2__label-p {
        font-size: 18px;
    }
    .discount-2__label-h {
        font-size: 32px;
    }
    .discount-2__label-p2 {
        font-size: 24px;
    }
    .discount-1__bcg-6 {
        top: auto;
        bottom: -140px;
        height: 420px;
        width: 420px;
    }
}

.office__blocks {
    display: flex;
    padding-top: 240px;
    padding-bottom: 200px;
    padding-left: 60px;
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
}
.office__block {
    position: relative;
    margin-right: 7%;
    width: 35.0%;
}
.office__block:nth-child(2) {
    margin-right: 22.4%;
}
.office__block:nth-child(3) {
    margin-top: -64px;
    margin-left: 21.0%;
}
.office__block:nth-child(4) {
    margin-top: -64px;
    margin-right: 0;
}
.office__img {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 4px;
    transform: rotate(45deg);
    overflow: hidden;
}
.office__block:nth-child(1) .office__img::after {
    background: url(../img/office-1.jpg) no-repeat center;
    background-size: 100%;
}
.office__block:nth-child(2) .office__img::after {
    background: url(../img/office-2.jpg) no-repeat center;
    background-size: 100%;
}
.office__block:nth-child(3) .office__img::after {
    background: url(../img/office-3.jpg) no-repeat center;
    background-size: 100%;
}
.office__block:nth-child(4) .office__img::after {
    background: url(../img/office-4.jpg) no-repeat center;
    background-size: 100%;
}
.office__img::after {
    content: '';
    position: absolute;
    top: -25%;
    left: -25%;
    width: 150%;
    height: 150%;
    transform: rotate(-45deg);
}
.office__text {
    border-radius: 4px;
    background: #fff;
    box-shadow: 5px 5px 16px 0 rgba(28,28,28,.1);
}
.office__text.up {
    position: absolute;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-top: 20px;
    display: block;
    bottom: 230px;
    left: 150px;
    width: 240px;
    background: #fff;
}
.office__text.down {
    position: absolute;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    display: block;
    top: 220px;
    right: 230px;
    width: 200px;
    text-align: right;
}
.office__h3 {
    position: relative;
    padding: 0;
    padding-bottom: 7px;
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    z-index: 1;
}

@media (max-width: 1186px) {
    .office__blocks {
		padding-left: 0;
		width: 632px;
		justify-content: space-between;
	}
    .office__block {
        margin-right: 0;
        width: 40%;
    }
    .office__block:nth-child(2) {
        margin-right: 20%;
    }
    .office__block:nth-child(3) {
        margin-top: -43px;
        margin-left: 20%;
    }
    .office__block:nth-child(4) {
        margin-top: -43px;
        margin-right: 0;
    }
    .office__img {
        margin: 0 auto;
        width: 170px;
        height: 170px;
    }
    .office__img::before {
        background-size: 30%;
    }
    .office__text.up {
        padding-left: 10px;
        padding-bottom: 45px;
        bottom: 127px;
        left: 179px;
        width: 185px;
    }
    .office__text.down {
        top: 130px;
        right: 180px;
    }
    .office__h3 {
        padding-bottom: 4px;
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width: 680px) {
    .office .container {
        padding-top: 70px;
		padding-bottom: 0;
	}
    .office__blocks {
        padding-top: 30px;
        padding-left: 0px;
        padding-bottom: 30px;
        width: 100%;
        justify-content: flex-start;
    }
    .office__block {
        width: 100%;
    }
    .office__block:nth-child(2) {
        margin-top: 40px;
        margin-right: 0%;
    }
    .office__block:nth-child(3) {
        margin-top: 40px;
        margin-left: 0%;
    }
    .office__block:nth-child(4) {
        margin-top: 40px;
        margin-right: 0;
    }
    .office__img {
        float: left;
        margin-top: 20px;
        width: 120px;
        height: 120px;
        z-index: -1;
    }
    .office__img::before {
        background-size: 25%;
    }
    .office__img::after {
        content: '';
        position: absolute;
        top: -25%;
        left: -25%;
        width: 150%;
        height: 150%;
        transform: rotate(-45deg);
    }
    .office__text.up {
        padding-bottom: 20px;
        bottom: auto;
        left: auto;
        margin-left: auto;
        position: static;
        width: calc(100% - 110px);
    }
    .office__text.down {
        top: auto;
        left: auto;
        text-align: left;
        margin-left: auto;
        position: static;
        width: calc(100% - 110px);
    }
    .office__text.down::after {
        display: none;
    }
    .office__h3 {
        font-size: 16px;
        line-height: 24px;
    }
}

.warranty .container {
    padding-top: 100px;
    padding-bottom: 100px;
}
.warranty__block {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 70%;
}
.warranty__block-img {
    position: relative;
    margin-right: -40px;
    min-width: 200px;
    width: 200px;
    border-radius: 4px;
    z-index: -1;
}
.warranty__block-text {
    padding: 30px 20px;
    min-width: 80%;
    border-radius: 4px;
    background: #fff;
    box-shadow: 20px 10px 25px 0 rgba(28,28,28,.1);
}
.warranty__block-p {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .warranty__block {
        flex-direction: column;
        width: auto;
    }
    .warranty__block-text {
        min-width: auto;
    }
    .warranty__block-img {
        margin-bottom: -10px;
        margin-right: 0;
    }
}

.review__blocks {
    margin: 0 auto;
    width: 70%;
}
.review__block {
    display: flex;
    margin-bottom: 50px;
}
.review__block-img {
    position: relative;
    margin-top: 10px;
    margin-right: 30px;
    width: 100px;
    height: 100px;
    min-width: 100px;
    border: 2px solid #1c1c1c;
    border-radius: 50%;
    background: url(../img/review-1.jpg) no-repeat center;
    background-size: cover;
}
.review__block-img::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: inherit;
    border: 1px solid #1c1c1c;
}
.review__block-name {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .review__blocks {
        width: auto;
    }
    .review__block-img {
        width: 70px;
        height: 70px;
        min-width: 70px;
    }
    .review__block-img::before {
        top: -7px;
        left: -7px;
        right: -7px;
        bottom: -7px;
    }
    .review__block-name {
        margin-bottom: 7px;
    }
}

.advantage .container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 60px;
}
.advantage .consider__content-mask::before {
    content: '';
    position: absolute;
    bottom: -60px;
    left: 20px;
    right: auto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #fff;
}
.advantage__img {
    position: absolute;
    bottom: 0;
    left: -30px;
    width: 380px;
    z-index: 1;
}
.advantage__text {
    position: relative;
    margin-left: auto;
    width: 70%;
}
.advantage__bcg-1 {
    top: -10px;
    right: 2%;
}
.advantage__bcg-2 {
    bottom: -10px;
    left: 2%;
}
.advantage__bcg-3 {
    top: -10px;
    left: 2%;
}

@media (max-width: 992px) {
    .advantage__img {
        width: 320px;
    }
}

@media (max-width: 768px) {
    .advantage__img {
        width: 230px;
    }
}

@media (max-width: 576px) {
    .advantage .container {
        padding-top: 70px;
    }
    .consider__content-mask {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 270px;
        width: auto;
    }
    .advantage__text {
        width: auto;
    }
    .advantage__img {
        left: 50%;
        transform: translateX(-50%);
    }
}

.procedure .container {
    padding-top: 70px;
    padding-bottom: 110px;
}
.procedure__content {
    display: flex;
    margin-bottom: 100px;
    align-items: center;
}
.procedure__img {
    width: 30%;
}
.procedure__text {
    margin-left: 50px;
    width: 70%;
}

@media (max-width: 768px) {
    .procedure__img {
        display: none;
    }
}

@media (max-width: 576px) {
    .procedure__text {
        margin-left: 0;
        width: auto;
    }
}


footer {
    color: #fff;
    background: #1c1c1c;
}
.footer .container {
    display: flex;
    align-items: center;
    padding: 20px;
}
.footer__logo {
    margin-right: 40px;
    width: 140px;
}
.footer__p {
    font-size: 12px;
    line-height: 1.2em;
}

@media (max-width: 768px) {
    .footer__logo {
        width: 90px;
    }
}

.modal__form {
    align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .9);
	z-index: 25;
	display: none;
    transition: all .3s ease;
    overflow: auto;
}
.modal__form::after {
	content: '';
	position: absolute;
	top: 40px;
	right: 40px;
	width: 30px;
	height: 30px;
	background: url('../img/cancel.svg') no-repeat center;
	background-size: 100%;
	cursor: pointer;
}
.modal__form.active {
	display: flex;
}
.modal__form__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    background: #fff;
    width: 400px;
    box-shadow: 4px 7px 10px 0 rgba(0,0,0,.2);
}
.modal__form-form {
    margin-top: 16px;
}
.modal__form-form .input {
    margin-top: 10px;
}
/* .question__form-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
} */
.modal__form.active .modal__form__content {
    animation: modalopen .3s ease;
	animation-fill-mode: forwards;
}

@keyframes modalopen {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@media (max-width: 992px) {
    .modal__form::after {
        width: 22px;
        height: 22px;
    }
}

@media (max-width: 768px) {
    .modal__form::after {
        top: 20px;
        right: 20px;
    }
}

.caption__h4 {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.2em;
}

.alert{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 30px 20px;
	transform: translate(-50%, -50%);
	width: 200px;
	background: #fff;
	box-shadow: 4px 7px 10px 0 rgba(0,0,0,.2);
}

.contact {
    position: relative;
    background: #f7f7f7;
    overflow: hidden;
}
.contact .container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 110px;
}
.contact__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact__caption {
    width: 50%;
}
.contact__form {
    padding: 30px 40px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 20px 10px 25px 0 rgba(28,28,28,.4);
}
.contact__phone {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
}
.contact__phone-p {
    margin: 5px 0;
    font-size: 32px;
    line-height: 1.4em;
    font-weight: 500;
}
.contact__bcg-6 {
    position: absolute;
    bottom: -90px;
    left: 0px;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: #fff;
    z-index: 0;
}
.contact__bcg-4 {
    top: -10px;
    right: 2%;
}
.contact__bcg-5 {
    bottom: -10px;
    left: 20%;
}

@media (max-width: 992px) {
    .contact__phone-p {
        font-size: 28px;
    }
}


@media (max-width: 768px) {
    .contact__content {
        flex-direction: column;
        align-items: flex-start;
    }
    .contact__caption {
        width: auto;
    }
}

.address {
    position: relative;
}
.address__map {
    width: 100%;
    height: 450px;
    background: #8d8d8d;
}
.address .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.address__contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20px, -50%);
    width: 450px;
    padding: 30px 40px;
    border-radius: 4px;
    box-shadow: 20px 10px 25px 0 rgba(28,28,28,.1);
    background: #fff;
}
.address__p {
    display: flex;
    margin-bottom: 10px;
}
.address__caption {
    min-width: 110px;
    font-weight: 500;
}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%) brightness(70%);
}

@media (max-width: 992px) {
    .address__contact {
        top: 20px;
        left: 20px;
        right: 20px;
        width: 40%;
        transform: translate(0, -50%);
    }
}
@media (max-width: 768px) {
    .address__contact {
        padding: 30px 20px;
        top: -60px;
        left: 20px;
        width: auto;
        transform: translate(0, 0);
        background: rgba(255,255,255,.9);
    }
}

.main__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(2000px);
    transition: all .6s ease;
    z-index: 20;
}
.main__nav {
    display: flex;
    padding: 40px 80px 40px 50px;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    width: 280px;
    background: #1c1c1c;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
}
.main__nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.main__nav a {
    display: block;
    position: relative;
    bottom: 0;
    padding: 8px 10px;
    font-size: 17px;
    line-height: 1.4em;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
}
.main__nav a:hover {
    bottom: 4px;
    text-shadow: 0 4px 4px rgba(28,28,28,.16);
    transition: all .3s ease;
}

.main__menu.open {
    transform: translateX(0);
}

@media (max-width: 576px) {
    .main__nav {
        left: 0;
        width: auto;
    }
}

