body{
    margin: 0;
    padding: 0;
    font: 1em/2em sans-serif;
    background: #eee;
    color: #000;
}
img{
    width: 300px;
    height: 400px;  
    vertical-align: middle;
}
.d3d{
    width: 300px;
    height: 400px;
    margin: 50px auto;
    perspective: 1000px;
}
.d3d:hover .rotate{
    transform:  rotateY(180deg);
}

.rotate{
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.text{
    position: absolute;
    top: 0;
    left: 0;
    transform:  rotateY(180deg);
}
.pd{
    padding: 20px;
}
img, .text{
    border: 4px double #ccc;
    width: 300px;
    height: 400px;
    background: #fff;
    backface-visibility: hidden;  /*когда объект перевернут - будет скрываться*/
}